
h1{
 color: rgb(1, 20, 18);
}
#titre{
    text-decoration: underline;


}

#logo{

    width: 60px;
     
    }

body{
    background-color:rgb(223, 231, 230);           
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-size: 16px;
    max-width: 800px;              
}

